html { 
  background: url(/icons/weinixiong1.jpg) repeat left top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-attachment:fixed;
}
.stretch{
/* Will stretch to specified width/height */
  background-size: 200px 150px;
}
.stretch-content{
/* Will stretch to width/height of element */
  background-size: 100% 100%;
}

.resize-width{
/* width: 150px, height: auto to retain aspect ratio */
  background-size: 150px Auto;
}
.resize-height{
/* height: 150px, width: auto to retain aspect ratio */
  background-size: Auto 150px;
}
.resize-fill-and-clip{ 
  /* Resize to fill and retain aspect ratio.
     Will cause clipping if aspect ratio of box is different from image. */ 
  background-size: cover;
}
.resize-best-fit{
/* Resize to best fit and retain aspect ratio.
   Will cause gap if aspect ratio of box is different from image. */ 
  background-size: contain;
}
img.source-image {
width: 100%;
position: absolute;
top: 0;
left: 0;
}

#body {
#  background: url(/icons/weinixiong1.jpg) no-repeat left top fixed;
#  -webkit-background-size: auto;
#  -moz-background-size: auto;
#  -o-background-size: auto;
#  background-size: percentage auto;
#}

body {
#	background-image:url('/icons/weinixiong1.jpg');
#	background-position: left top;
#	background-repeat:repeat-x;
#	background-size:contain;
	background-attachment:fixed;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
P {
        font-family: verdana,arial,sans-serif;
        font-size:13px;
        color:#333333;
}
