[client]
socket=/var/tellme/mysql/mysql.sock
port=3306

[mysqld]
skip_grant_tables
bind-address = 0.0.0.0
user=root
pid-file=/var/tellme/mysql/etc_mysqld.pid
log-error=/var/tellme/mysql/mysql.err
datadir=/var/tellme/mysql/data/
socket=/var/tellme/mysql/mysql.sock
explicit_defaults_for_timestamp=1
innodb_file_per_table
innodb_log_files_in_group = 3
innodb_log_file_size = 200M
innodb_log_buffer_size = 16M
default_storage_engine=innodb
innodb_flush_log_at_trx_commit=1
#SYNC_BINLOG=1
#INNODB_FLUSH_METHOD
#INNODB_BUFFER_POOL_INSTANCES
#INNODB_THREAD_CONCURRENCY=8
#SKIP_NAME_RESOLVE
#INNODB_IO_CAPACITY
#INNODB_IO_CAPACITY_MAX
#INNODB_STATS_ON_METADATA=OFF
#INNODB_BUFFER_POOL_DUMP_AT_SHUTDOWN
#INNODB_BUFFER_POOL_LOAD_AT_STARTUP
#INNODB_ADAPTIVE_HASH_INDEX_PARTS
#QUERY_CACHE_TYPE=0
#INNODB_CHECKSUM_ALGORITHM
#TABLE_OPEN_CACHE_INSTANCES
#INNODB_READ_IO_THREADS
#INNODB_WRITE_IO_THREADS

innodb_buffer_pool_size=512M


